<div>
    <mat-table #table
               [dataSource]="dataSource"
               matSort
               aria-label="Elements">
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>Select</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox disabled=true
                              [checked]="selectedRow.examId === row.examId">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Id
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.examId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="desc">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Title
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.examDesc}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="room">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Room type
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.examRoom}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Status
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{getExamStatusDesc(row.examStatus)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="shuffle">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Shuffle type
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{getShuffleTypeDesc(row.shuffleType)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="attendance">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>Attendant count
            </mat-header-cell>
            <mat-cell *matCellDef="let row"></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 (click)="$event.stopPropagation(); selectRow(row);"
                 [style.background]="selectedRow.examId === row.examId ? 'lightgray' : ''"
                 class="mouse-pointer"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [length]="dataSource.data.length"
                   [pageIndex]="0"
                   [pageSize]="20"
                   [pageSizeOptions]="[10, 20, 30, 40]">
    </mat-paginator>

</div>
