<mat-toolbar>
    <mat-toolbar-row class="main-nav-bar">
        <h3>User : {{user.userName}}</h3>
        <span class="fill-space"></span>
        <div class="button-row">
            <a class="ml-md"
               mat-raised-button
               routerLink="/quizzes">
                <mat-icon>format_list_numbered</mat-icon>
                Quizzes
            </a>
            <a class="ml-md"
               mat-raised-button
               routerLink="/identities">
                <mat-icon>group</mat-icon>
                Identities
            </a>
            <a class="ml-md"
               mat-raised-button
               routerLink="/readme">
                <mat-icon>info</mat-icon>
                Read me
            </a>
            <button class="ml-md"
                    mat-raised-button
                    aria-label="Logout"
                    (click)="signOut()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
