<mat-card class="dashboard-card">

    <h2 class="mat-h2">{{formTitle}}</h2>

    <mat-card-content class="mt-md">
        <form class="form-md"
              [formGroup]="signinForm">
            <mat-form-field class="full-width">
                <input matInput
                       type="text"
                       required
                       placeholder="Enter name"
                       formControlName="name"
                       autocomplete="none">
                <mat-error *ngIf="signinForm.controls['name'].invalid">
                    Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                       placeholder="Enter email address *"
                       formControlName="email"
                       autocomplete="none">
                <mat-error *ngIf="signinForm.controls['name'].invalid">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <div class="mt-md"
                 *ngIf="identity.uid">
                <mat-checkbox [(ngModel)]="willResetPassword"
                              [ngModelOptions]="{standalone: true}">Reset password</mat-checkbox>
            </div>

            <mat-form-field *ngIf="willResetPassword"
                            class="full-width">
                <input matInput
                       type="password"
                       required
                       placeholder="Enter new password"
                       autocomplete="none"
                       formControlName="password">
                <mat-error *ngIf="signinForm.controls['password'].invalid">
                    Password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="willResetPassword"
                            class="full-width">
                <input matInput
                       [type]="hidePassword ? 'password' : 'text'"
                       required
                       placeholder="Confirm new password"
                       autocomplete="none"
                       formControlName="confirmPassword">
                <mat-icon matSuffix
                          (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="signinForm.controls['confirmPassword'].errors?.required">
                    Confirmed new password is required
                </mat-error>
                <mat-error *ngIf="signinForm.controls['confirmPassword'].errors?.MatchPassword">
                    The two passwords are not matched
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions class="mb-md ml-none">
        <button mat-raised-button
                (click)="save()"
                aria-label="Save"
                [disabled]="!isValidForm()">
            Save
        </button>

        <a mat-raised-button
           routerLink="/identities"
           class="ml-md"
           aria-label="Close">
            Close
        </a>
    </mat-card-actions>
</mat-card>
