.mat-column-select,
.mat-column-id{
    flex: 0 0 80px;
}

.mat-column-question,
.mat-column-exam,
.mat-column-duration,
.mat-column-teacher{
    flex: 0 0 180px;
}

.mat-column-title{
    padding-right: 16px;
}
