<mat-card class="dashboard-card field">

    <div class="mat-card-header space-between field">
        <h2 class="mat-h2">
            <mat-icon *ngIf="!choice.questionChoiceId"
                      class="secondary-text mat-primary">fiber_new</mat-icon>
            Choice {{getChoiceNumberDesc(choice.choiceNumber)}}
        </h2>

        <button mat-stroked-button (click)="deleteMe()">Delete this choice</button>
    </div>

    <div class="flex">
        <mat-form-field class="field width-20">
            <mat-select [(ngModel)]="choice.choiceNumber"
                        placeholder="Choice number"
                        required>
                <mat-option *ngFor="let option of choiceNumbers"
                            [value]="option.key">
                    {{ option.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="field width-50" style="align-items: center;">
            <label>Is this a correct choice ?</label>
            <mat-radio-group [(ngModel)]="choice.correctChoice" required>
                <mat-radio-button [value]="true" class="ml-md">Yes</mat-radio-button>
                <mat-radio-button [value]="false" class="ml-md">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field class="field width-20" *ngIf="editableScore">
            <input matInput
                   type="number"
                   [(ngModel)]="choice.score"
                   (change)="onScoreChanged()"
                   placeholder="Score of this choice"
                   required/>
        </mat-form-field>

    </div>

    <div class="flex">
        <mat-form-field class="field width-100">
            <textarea matInput
                      rows="2"
                      [(ngModel)]="choice.description"
                      placeholder="Description of this choice"
                      required></textarea>
        </mat-form-field>
    </div>
</mat-card>
