<h2 mat-dialog-title class="mb-none">{{quiz.quizId > 0 ? "Quiz editing" : "Create a new quiz"}}</h2>

<mat-dialog-content>
    <div class="single-row">

        <mat-form-field>
            <input matInput
                   type="text"
                   [(ngModel)]="quiz.title"
                   placeholder="Title"
                   required/>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   type="number"
                   [(ngModel)]="quiz.duration"
                   placeholder="Duration in minutes"
                   required/>
        </mat-form-field>

        <mat-form-field>
            <input matInput
                   type="text"
                   [ngModel]="quiz.teacher.id + ' / ' + user.userName"
                   [readonly]="true"
                   placeholder="Teacher (read only)"/>
        </mat-form-field>

    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button
            (click)="save()"
            [disabled]="!quiz.title || quiz.duration <= 0"
            aria-label="Save quiz">
        Save
    </button>

    <button mat-raised-button
            (click)="close()"
            class="ml-md"
            aria-label="Close">
        Close
    </button>

</mat-dialog-actions>
