<h1 class="mat-h1">{{questionId ? "Editing" : "New"}} question {{questionId ? questionId : ''}} of Quiz :
    {{quiz.title}}</h1>

<a mat-raised-button
   [routerLink]="['/quizzes', quizId, 'questions']"
   aria-label="Back to question list">Back to question list</a>

<button mat-raised-button
        class="ml-lg"
        (click)="addChoice()"
        aria-label="Add choice">
    Add choice
</button>

<button mat-raised-button
        class="ml-md"
        (click)="saveQuestion()"
        [disabled]="!isValidQuestion()"
        aria-label="Save question">
    Save this question
</button>

<button mat-raised-button
        class="ml-md"
        (click)="deleteQuestion()"
        aria-label="Delete question">
    Delete this question
</button>

<button mat-raised-button
        class="ml-lg"
        (click)="newQuestion()"
        [disabled]="!questionId"
        aria-label="New question">
    New question
</button>

<mat-card class="dashboard-card field">
    <p class="mat-error field">{{inputErrMsg}}</p>

    <div class="flex">
        <mat-form-field class="field width-20">
            <mat-select [(ngModel)]="question.typeId"
                        (selectionChange)="questionTypeChanged()"
                        placeholder="Question type"
                        required>
                <mat-option *ngFor="let option of questionTypes"
                            [value]="option.key">
                    {{ option.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="field width-20" *ngIf="isMultipleChoices()">
            <mat-select [(ngModel)]="question.scoringType"
                        (selectionChange)="scoringTypeChanged()"
                        placeholder="Scoring type"
                        required>
                <mat-option *ngFor="let option of scoringTypes"
                            [value]="option.key">
                    {{ option.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="field width-20">
            <input matInput
                   type="number"
                   [readonly]="question.scoringType === 'SUM_CORRECT_CHOICES_SCORES'"
                   [(ngModel)]="question.score"
                   placeholder="Score of this question"/>
        </mat-form-field>

    </div>

    <div class="flex">
        <mat-form-field class="field width-100">
            <textarea matInput
                      rows="2"
                      [(ngModel)]="question.title"
                      placeholder="Question title (topic description, difficulty level, ...)"
                      required></textarea>
        </mat-form-field>
    </div>

    <div class="flex">
        <mat-form-field class="field width-50">
            <textarea matInput
                      rows="10"
                      [(ngModel)]="question.content"
                      (ngModelChange)="viewMarkdown()"
                      placeholder="Question content (can be in Markdown format)"></textarea>
        </mat-form-field>

        <div class="field width-50 field-label-group">
            <label class="field-label">Student's view</label>
            <div id="htmlContent"></div>
        </div>

    </div>
</mat-card>

<div *ngFor="let choice of question.choices">
    <app-question-edit-choice *ngIf="question.choices.length > 0"
                              [choice]="choice"
                              [editableScore]="question.scoringType === 'SUM_CORRECT_CHOICES_SCORES'"
                              (deleteChoice)="deleteChoice($event)"
                              (updateScore)="sumChoiceScore()"
    ></app-question-edit-choice>
</div>

<mat-card>
    <div class="flex">
        <mat-form-field class="field width-100">
            <textarea matInput
                      rows="4"
                      [(ngModel)]="question.answer"
                      placeholder="Explanation or answer to the question"></textarea>
        </mat-form-field>
    </div>
</mat-card>
