.mat-column-select,
.mat-column-id
{
    flex: 0 0 80px;
}

.mat-column-choice,
.mat-column-score
{
    flex: 0 0 120px;
}

.mat-column-type{
    flex: 0 0 280px;
}

.mat-column-title{
    padding-right: 16px;
}
